@model MyProject.LoaiSanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}

<h3 class="text-center lead mb-3 font-weight-bold" style="font-size: 36px; text-shadow: 0 0 8px rgba(0,0,0,0.2)" data-aos="flip-right">
    Thêm danh sách loại sản phẩm
</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
    <div class="form-group">
        <p class="col-md-10">Tên loại sản phẩm</p>
        <div class="col-md-10">
            <input name="ten1" class="form-control" />
        </div>
    </div>
   

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm mới" class="btn btn-dark" />
        </div>
    </div>
</div>
}

<div>
    <a class="btn btn-info" href="@Url.Action("Index","loaisp")">Quay lại</a>

</div>


